@font-face {
  font-family: "Beth Ellen";
  src: url("../fonts/beth-ellen-v22-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Snell Roundhand W01 Script";
  src: url("../fonts/Snell Roundhand W01 Script.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "charter_regular-webfont";
  src: url("../fonts/charter_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/charter_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
